<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">
    <title>轻松家园</title>
    <meta name="description" content="轻松家园课程网站">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="static/css/main.min.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bluebird/js/browser/bluebird.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone-min.js"></script>
    <script src="bower_components/semantic-ui/dist/semantic.min.js"></script>
    <script src="static/js/app.js"></script>
</head>
<body>
    <header id="header">
        <a id="brand" href="/">
            <img src="img/logo.png" alt="" id="logo"/>
            <span id="title">轻松家园</span>
        </a>
        <nav id="navbar"></nav>
    </header>
    <div id="main"></div>
    <script type="text/template" id="nav-template">
        <ul id="main-nav">
            <% _.each(navList, function(nav) { %>
            <li id="nav-<%= nav.id %>">
                <a href="<%= nav.url %>">
                    <%= nav.name %>
                </a>
            </li>
            <% }); %>
        </ul>
    </script>
    <script type="text/template" id="index-template">
        <div class="post-wrap">
            <% newsList.each(function(news) { %>
            <article>
                <div class="post-title"><a href="/news/<%= news.get('id') %>"><%= news.get('title') %></a></div>
                <div class="post-meta">
                    <span class="post-date"><%= news.get('date').getFullYear() %> 年 <%= news.get('date').getMonth() + 1 %> 月 <%= news.get('date').getDate() %> 日</span>
                    <span class="post-author"><%= news.get('author') %></span>
                </div>
                <div class="post-content"><%= news.get('content') %></div>
            </article>
            <% }); %>
        </div>
    </script>
    <script type="text/template" id="login-template">
        <div id="login-wrap">
            <form action="javascript:void(0)" id="login" class="ui form">
                <div class="fileds">
                    <div class="required filed">
                        <label for="username">用户名</label>
                        <div class="ui input">
                            <input id="username" type="text" placeholder="Username"/>
                        </div>
                    </div>
                    <div class="required filed">
                        <label for="password">密码</label>
                        <div class="ui input">
                            <input id="password" type="password" placeholder="Password"/>
                        </div>
                    </div>
                </div>
                <div id="role" class="ui labeled icon menu">
                    <a class="green item active" data-role="student">
                        <i class="icon child"></i>
                        学生
                    </a>
                    <a class="yellow item" data-role="assistant">
                        <i class="icon spy"></i>
                        助教
                    </a>
                    <a class="blue item" data-role="teacher">
                        <i class="icon doctor"></i>
                        教师
                    </a>
                </div>
                <div class="field">
                    <div id="submit" class="ui submit positive button">登入</div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/template" id="write-template">
        <div id="write-wrap">
            <form action="javascript:void(0)" class="ui form">
                <div class="field">
                    <label for="news-title">标题</label>
                    <input id="news-title" type="text"/>
                </div>
                <div class="field">
                    <label for="news-content">内容</label>
                    <textarea id="news-content" cols="30" rows="10"></textarea>
                </div>
                <div class="field">
                    <div id="news-submit" class="ui submit button green">发布</div>
                </div>
            </form>
        </div>
    </script>
    <script type="text/template" id="news-template">
        <div class="post-wrap">
            <article>
                <div class="post-title"><%= news.get('title') %></div>
                <div class="post-meta">
                    <span class="post-date"><%= news.get('date').getFullYear() %> 年 <%= news.get('date').getMonth() + 1 %> 月 <%= news.get('date').getDate() %> 日</span>
                    <span class="post-author"><%= news.get('author') %></span>
                    <% if (editable) { %>
                    <div class="post-edit">
                        <span id="edit" data-newsid="<%= news.id %>"><a href="javascript:void(0)">编辑</a></span>
                        <span id="delete" data-newsid="<%= news.id %>"><a href="javascript:void(0)">删除</a></span>
                    </div>
                    <% } %>
                </div>
                <div class="post-content"><%= news.get('content') %></div>
            </article>
        </div>
    </script>
    <script type="text/template" id="course-list-template">
        <div id="course-list-wrap">
            <ul class="course-list">
                <% courseList.each(function(course) { %>
                <li class="course-tab">
                    <a href="#course-<%= course.get('id') %>"><%= course.get('course_name') %></a>
                </li>
                <% }); %>
                <% if (editable) { %>
                <div class="course-add">
                    <i class="icon plus"></i> <a href="javascript:void(0)" data-action="new">增加课程</a>
                </div>
                <% } %>
            </ul>
            <div class="course-desc">
                <% courseList.each(function(course) { %>
                <div class="course-content fade" id="course-<%= course.get('id') %>">
                    <% if (editable) { %>
                    <ul class="course-edit">
                        <li class="course-edit-item">
                            <i class="icon edit"></i> <a href="javascript:void(0)" data-id="<%= course.get('id') %>" data-action="edit">编辑</a>
                        </li>
                        <li class="course-edit-item">
                            <i class="icon trash"></i> <a href="javascript:void(0)" data-id="<%= course.get('id') %>" data-action="delete">删除</a>
                        </li>
                    </ul>
                    <% } %>
                    <%= course.get('description') %>
                </div>
                <% }); %>
            </div>
        </div>
    </script>
</body>
</html>