.post-title {
  font-size: 2em;
  font-weight: bold;
  margin: 18px 0;
}

.post-meta {
  font-size: 1em;
  margin: 18px 0;
}

.post-date {
  margin-right: 10px;
}

.post-date, .post-author {
  color: #7f8c8d;
}

.post-content {
  line-height: 2;
  transition: all .2s ease;
}