.post-title {
  font-size: 2em;
  font-weight: bold;
  margin: 18px 0;
}

.post-meta {
  font-size: 1em;
  margin: 18px 0;
  span:last-child {
    margin-right: 0;
  }
  span {
    margin-right: 10px;
    color: #7f8c8d;
  }
  a {
    color: #7f8c8d;
  }
  a:hover {
    color: #42b983;
  }
}

.post-date, .post-author {
  color: #7f8c8d;
}

.post-edit {
  display: inline-block;
  float: right;
}

.post-content {
  line-height: 2;
  transition: all .2s ease;
}